.product {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  &__image {
    height: 150px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__content {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 15px;
  }

  &__price {
    color: #4CAF50;
  }

  &__add-basket {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #fff;
    position: absolute;
    top: -50%;
    right: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateY(40%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
}
