<app-page-header>
  <span appPageTitle>Shopping Cart</span>
  <ng-container *ngIf="(cartItems$ | async).length" appPageActions>
    <button (click)="onClearCartButtonClick()" [disabled]="cartActionLoading" class="btn btn-link">
      Clear Shopping Cart
    </button>
    <button (click)="onCreateOrderButtonClick()" [disabled]="cartActionLoading || !selectedProductIds.length"
            class="btn btn-success">
      Create Order
    </button>
  </ng-container>
</app-page-header>

<app-entity-data-container [dataState]="cartItemsDataState$ | async">
  <small style="margin-bottom: 10px; display: block">Select following products to create new order</small>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th width="5%"></th>
      <th>Product Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cartItems$ | async; trackBy: trackByCartItem"
        [class.row-selected]="selectedProductIds.includes(item.productId)">
      <td class="text-center">
        <div class="form-check">
          <input (change)="onProductCheckboxChange(item.productId)" [checked]="selectedProductIds.includes(item.productId)" class="form-check-input" id="flexCheckDefault"
                 type="checkbox"
                 value=""/>
        </div>
      </td>
      <td>{{ item.product.name }}</td>
      <td>{{ (item.product.price * item.quantity) | currency }}</td>
      <td class="text-center actions">
        <div class="btn-group" role="group">
          <button (click)="onIncrementButtonClick(item.productId)" [disabled]="quantityChangeLoading"
                  class="btn btn-primary btn-sm btn-floating"
                  type="button">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-default btn-sm">{{ item.quantity }}</button>
          <button (click)="onDecrementButtonClick(item.productId)" [disabled]="quantityChangeLoading"
                  class="btn btn-primary btn-sm btn-floating"
                  type="button">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot *ngIf="selectedProductIds && selectedProductIds.length">
    <tr>
      <td colspan="3">Total Cost</td>
      <td class="text-center">{{ getTotalCost() | async | currency }}</td>
    </tr>
    </tfoot>
  </table>
</app-entity-data-container>
