<app-page-header>
  <span appPageTitle id="order-page-title">Orders</span>
</app-page-header>

<app-entity-data-container [dataState]="ordersDataState$ | async">
  <table class="table table-bordered table-striped w-100" id="orders-table">
    <thead>
    <tr>
      <th id="orders-name">Order Name</th>
      <th id="orders-total-price">Total Price</th>
      <th id="orders-date">Date</th>
      <th id="orders-status">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders$ | async; let i = index">
      <td width="30%" [id]="'order-name-' + i">{{ order.code }}</td>
      <td width="30%" [id]="'order-total-price-' + i">{{ order.totalPrice | currency }}</td>
      <td width="20%" [id]="'order-date-' + i">{{ order.createdAt | date: 'dd.MM.yyyy HH:mm' }}</td>
      <td width="10%" [id]="'order-status-' + i" class="text-center">
        <ng-container *ngIf="order.status === orderStatus.draft">
          <button class="btn btn-sm btn-success text-nowrap" (click)="onCompleteOrderButtonClick(order)">
            Complete Order
          </button>
        </ng-container>
        <ng-container *ngIf="order.status === orderStatus.submitted">
          <button class="btn btn-link btn-sm text-nowrap" disabled>Submitted</button>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
</app-entity-data-container>
