<div class="p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <div class="container d-flex justify-content-between align-items-center">
    <h5 class="my-0 mr-md-auto font-weight-normal">Shopping Assessment</h5>
    <div class="navigations d-flex justify-content-between align-items-center">
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Products</a>
        <a class="p-2 text-dark" href="#">Orders</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Login</a>
    </div>
  </div>
</div>
