<div class="p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <div class="container d-flex justify-content-between align-items-center">
    <a routerLink="/">
      <h5 class="my-0 mr-md-auto font-weight-normal">Shopping Assessment</h5>
    </a>
    <div class="navigations d-flex justify-content-between align-items-center">
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="navigations__link p-2 text-dark" routerLink="/products" routerLinkActive="active">Products</a>
        <ng-container *ngIf="isLoggedIn$ | async">
          <a class="navigations__link p-2 text-dark" routerLink="/orders" routerLinkActive="active">Orders</a>
        </ng-container>
      </nav>
      <ng-container *ngIf="isLoggedIn$ | async else loginRef">
        <div *ngIf="user$ | async as user" class="dropdown" mdbDropdown>
          <button aria-expanded="false" class="btn btn-default dropdown-toggle"
                  id="dropdownMenu2" mdbDropdownToggle type="button">
            {{ user.firstName }} {{ user.lastName }}
          </button>
          <ul aria-labelledby="dropdownMenu2" class="dropdown-menu dropdown-menu-end" mdbDropdownMenu>
            <li>
              <button (click)="onLogoutClick()" class="dropdown-item" type="button">Logout</button>
            </li>
          </ul>
        </div>
        <a aria-expanded="false" class="btn btn-default cart-link" routerLink="/cart" type="button">
          <span class="fa fa-cart-plus cart-link__icon"></span>
          <span *ngIf="cartItemsCount$ | async as count" class="cart-link__count">
            {{ count > 9 ? '9+' : count }}
          </span>
        </a>
      </ng-container>
      <ng-template #loginRef>
        <button (click)="onLoginButtonClick()" class="btn btn-outline-primary">Login</button>
      </ng-template>
    </div>
  </div>
</div>
